/* Base Styles
----------------------------------------*/

html {
    background: #fff;
    /* set the REM */
    font-size: 22px;
    line-height: 1.75rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    font-size: 1rem;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

.titleRow {
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.zoo {
    height: 3rem;
}

.animal {
    max-height: 4rem;
}

.demo-wrapper {
    margin: 0;
    padding: 0;
    text-align: center;
}

form-group {
    text-align: left;
}

#Intro {}

.natural.dropdown {
    display: inline-block;
}

.natural.dropdown button {
    background: transparent;
    border-radius: 0;
    border-bottom: 2px dotted #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    padding: 0 0 15px 0;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.25rem;
}

.natural.dropdown .btn-secondary.active,
.btn-secondary:active,
.show > .btn-secondary.dropdown-toggle {
    background: transparent;
    border-color: #fff;
}

.input.dropdown button {
    background: #fff;
    width: 100%;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, .15);
    color: #495057;
}

.dropdown-toggle::after {
    float: right;
    margin-top: .5rem;
}

#naturalLanguageForm {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding: 0 1rem;
    border-radius: 1rem;
    text-align: center;
}

.btn-link {
    color: white;
    cursor: pointer;
    transform: all .3s ease;
    font-size: 15px;
}

.btn-link:hover {
    color: #fff;
}

#regForm {
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
    padding: 0 1rem;
    border-radius: 1rem;
    text-align: left;
}

#gForm .btn-link {
    color: #056DAE;
}

.center {
    text-align: center;
}

.small {
    color: #fff;
    font-size: .5rem;
    margin-bottom: 0
}

.small.dark {
    color: #212529;
}

.lead {
    text-align: center justify;
}

.section {
    max-width: 1178px;
    margin: 0 auto;
}

.fullHeight {
    height: 100vh;
}

#nl-location-faux-input {
    font-weight: 900;
}

.dropdown-menu.show {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15), 0 8px 16px rgba(0, 0, 0, .15);
}

#naturalLanguageForm h1,
#naturalLanguageForm .natural.dropdown button,
#naturalLanguageForm span {
    color: #fff;
}

#thanks {
    font-size: 2em;
    position: absolute;
    top: 1.5em;
    z-index: 5;
    color: #fff;
    /* margin: 0 auto; */
    /* text-align: center; */
    width: 100%;
}

span#nl-location-faux-input:hover,
span#nl-location-faux-input:focus,
button#dropdownMenuButton:hover,
button#dropdownMenuButton:focus,
button#dropdownMenuButton:hover,
button#dropdownMenuButton:focus {
    background-color: rgba(170, 170, 255, .5);
    border-radius: .2rem;
    padding-left: .1rem;
    padding-right: .1rem;
    transition: all .5s ease;
}

.collapsing {
    transition: height 0.6s ease;
}

/* NL Form - Base
----------------------------------------*/

.jumbotron {
    background-image: url("../images/desk.jpg");
    background-size: cover;
    background-position: bottom center;
    color: #056DAE;
    text-align: center;
}

.jumbotron h1 {
    font-weight: 500;
}

.jumbotron p {
    font-weight: 300;
}

.sosumi {
    font-size: .7em;
    color: #afafaf
}

.bold {
    font-weight: 500 !important;
}

.nl-form-wrapper,
.nl-form {
    display: block;
    width: 100%;
    /* collapse whitespace for the wrapper so inline-block elements are flush with eachother, and re-set within the child elements */
    font-size: 0;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    /* shrink-wrap */
}

.nl-form-wrapper {
    margin: 0 auto;
    text-align: center;
    /* border: 4px solid salmon; */
}

.nl-form span {
    font-size: 1.25rem;
    line-height: 2.6rem;
    color: #454545;
    font-weight: 300;
    word-spacing: 8px;
    letter-spacing: 1px;
    min-width: 40px;
}

.nl-form h2 {
    font-size: 1.25rem;
    line-height: 2.6rem;
    color: #fff;
    font-weight: 300;
    word-spacing: 8px;
    letter-spacing: 1px;
    min-width: 40px;
    display: inline-block;
}

.nl-form h2.highlight {
    background-color: rgba(170, 170, 255, .5);
    border-radius: 14px;
    padding: 0 .4em;
    font-weight: 900;
}

.nl-form select,
.nl-form input,
.nl-form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.nl-form select:focus,
.nl-form input:focus,
.nl-form button:focus {
    outline: none;
}


/* BRs: 
manual breaks for nice formatting, and to prevent crazy reflows in the medium and large ranges. disable for Small range */

br.hide-for-small {
    display: none;
}


@media screen only and (max-width: 980px) {
    br.hide-for-small {
        display: inline-block;
    }
}


/* NL Form - <Select> & [Input] Shared Styles
----------------------------------------*/

.nl-faux-select,
.nl-faux-text-input {
    display: inline-block;
    width: auto;
    line-height: 1.55rem;
    border-bottom: 2px dotted #fff;
    color: #16325C;
    font-weight: 900;
}

.nl-select-wrapper,
.nl-text-input-wrapper {
    position: relative;
}

.nl-select-wrapper a,
.nl-select-wrapper a:hover,
.nl-select-wrapper a:focus,
.nl-text-input-wrapper a,
.nl-text-input-wrapper a:hover,
.nl-text-input-wrapper a:focus {
    color: inherit;
    color: #111;
    text-decoration: none;
}

.nl-form select,
.nl-form select:focus,
.nl-form input[type="text"],
.nl-form input[type="text"]:focus {
    width: auto;
    height: auto;
    display: block;
    /* making the <select> elements not visible visually, but positioned near the <a> tags that will open them */
    width: 1px;
    height: 1px;
    color: transparent;
    background: transparent;
    border: none;
    font-size: 1rem;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 50%;
    border: 0;
    /* 	border: 1px solid red; */
}


/* NL Form - <Select> Shared Styles
----------------------------------------*/

.nl-select-wrapper {
    /*display: inline-block;*/
    /**/
    display: inline;
    width: auto;
    overflow: hidden;
    position: relative;
    /*border: 4px solid #ccc;*/
}

.nl-select-wrapper select,
.nl-select-wrapper select:focus {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 0.001;
    /*border: 4px solid #999;*/
}

.nl-select-wrapper select:focus {
    /*z-index: 2;
  opacity: 1.0;*/
}

.nl-faux-select {
    position: relative;
    z-index: 1;
    pointer-events: none;
}


/* style the <select> pointer with an :after pseudo-element if needed */

.nl-faux-select:after {
    content: '';
    display: inline-block;
    margin-left: 0.5rem;
    width: 0.625rem;
    height: 0.625rem;
    /* SVG graphic for dropdown arrows on faux select */
    /*background: url(#) no-repeat 0 0 transparent;*/
    /* pointer for the demo without a BG image */
    /* in real version switch to a bg image */
    content: '▾';
    /*content: '↓';*/
    font-size: 16px;
    text-align: center;
    margin-left: 0.15rem;
    margin-right: 0rem;
    width: 0.625rem;
    height: 1rem;
    -webkit-transform: translate(0, -7px);
    transform: translate(0, -3px);
    /*border: 1px solid red;*/
}


/* NL Form - Location Input
----------------------------------------*/

.nl-faux-text-input,
.nl-faux-text-input:focus {
    outline: none;
}


/* Show the Tooltip when the faux-input is focused */

.nl-location-wrapper {
    display: inline-block;
    width: auto;
    overflow: visible;
}

.nl-location-wrapper.kick {
    /* benign style for the browser to draw when element is kicked with a class on blur and keyup */
    background: transparent;
}

.nl-location-tooltip {
    /* hide this element for Small */
    display: none;
    /* set a width so the tooltip doesn't line wrap when the parent element changes size */
    min-width: 400px;
    position: absolute;
    left: 2px;
    top: 2.25rem;
    text-align: left;
    pointer-events: none;
    opacity: 0.0;
    /*
    -webkit-transition: all 0.3s ease-out 0.05s;
    transition: all 0.3s ease-out 0.05s;
*/
}

@media (min-width: 641px) {
    .nl-location-tooltip {
        /* show this element for Medium, Large */
        display: block;
    }
}

.nl-location-tooltip,
.nl-location-tooltip * {
    color: #666;
    font-size: 10px;
    line-height: 10px;
    font-weight: 100;
    font-style: normal;
}

.nl-location-tooltip em {
    color: #222;
}

.nl-faux-text-input:focus ~ .nl-location-tooltip {
    opacity: 1.0;
}


/* NL Form - Submit
----------------------------------------*/

.nl-submit-wrapper {
    margin: 40px auto 0 auto;
    text-align: center;
}

.nl-submit {
    display: inline-block;
    margin-top: 2rem;
    min-width: 170px;
    padding: 8px 16px;
    border-radius: 2em;
    font-weight: 300;
    font-size: 0.55rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.10rem;
    color: #056DAE;
    transition: all .4s ease-in-out;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .15), 0 4px 8px rgba(0, 0, 0, .15);
    border: none;
    cursor: pointer;
}

#naturalLanguageForm .nl-submit {
    margin-top: .5rem;
}

.nl-submit:hover {
    display: inline-block;
    min-width: 202px;
    border-radius: 2rem;
    font-weight: 100;
    font-size: 0.55rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15), 0 8px 16px rgba(0, 0, 0, .15);
    background: #056DAE;
    border: none;
}

/* Portrait and Landscape */

@media only screen and (max-device-width: 667px) {
    .small{
        font-size: 1rem;
    }
    
    .natural.dropdown button {
        font-size: 1.65rem;
        padding-bottom: 1.3rem;
    }
    .dropdown div a {
        font-size: 1.65rem;
    }
    .lead {
        font-size: 1.65rem;
    }
    .sosumi {
        font-size: 1rem;
    }
    .nl-submit {
        font-size: 1.65rem;
        padding: .5rem 1.75rem;
    }
    .nl-form span {
        font-size: 1.65rem;
        line-height: 6rem;
        font-weight: 300;
        word-spacing: 8px;
        letter-spacing: 1px;
    }
    .nl-form h2 {
        font-size: 1.65rem;
        line-height: 6rem;
        font-weight: 300;
        word-spacing: 8px;
        letter-spacing: 1px;
    }
    .hidelarge {
        display: none;
    }
    #nl-location-faux-input {
        font-weight: 900;
    }
    .btn-link {
        font-size: 1.5rem;
        padding-bottom: 1.1rem;
    }
    body {
        font-size: 1.5rem;
    }
    .form-control,
    .input.dropdown .btn {
        font-size: 1.5rem;
    }
}
